navbar{
    display:flex;
    margin-top: 10px;
   align-items: center;
}


.left img{
    width:65px;
    height: 50px;
    margin-left: 10px;
   
}
.right{
    margin-left: 900px;
    margin-top: 17px;
    display: flex;
    gap:20px
}
.right i {
    margin-right: 20px; 
    font-size: 25px;
    color: rgb(90, 88, 88);
}

.one{
    margin-left: 50px;
    align-items: center;
    gap:10px;
}
.one i{
    font-size: 23px;
    margin-top: 10px;
    color: rgb(90, 88, 88);
    position: relative;
    top: 5px;
}
.one img{
    width: 45px;
    height: 45px;
    margin-left: 10px; 
    align-items: center;
   
}



.Red{
  margin-top: 130px;
  margin-left: 100px;
  display: flex;
}
hr{
    width:540px;
}
.red1 h1{
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

.red1 p{
    line-height: 0.2;
    color: rgb(117, 114, 114);
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.red2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.red2 input[type='search'] {
    margin-right: 20px; 
    width: 40%;
    height: 40px;
    
}

.red1 p span{
    color: blue;
}

.green img{
   border-radius: 50%;
    width: 270px;
    height: 220px;
    margin-left: 400px;
}
.green h4{
    margin-left: 430px;
}
.green p{
    margin-left: 335px;
    line-height: 0.5;
    margin-top: 20px;
}


.left span{
    font-size: 25px;
   
   
}
.left{
    align-items: center;
    
}
 .red2 button:hover{
    color: blue;
    background-color: white;
    
 }
 .left{
    display: flex;
 }
 .left h4{
    color:rgb(48, 49, 51);
 }
 .re{
    margin-bottom: 30px;
 }
 .Red{
    font-family: Arial, Helvetica, sans-serif;
 }
 .learn {
    margin-top: 40px;

 }